@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 210 100% 96%;
    --foreground: 210 5% 10%;
    --card: 210 50% 96%;
    --card-foreground: 210 5% 15%;
    --popover: 210 100% 96%;
    --popover-foreground: 210 100% 10%;
    --primary: 210 100% 49.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 172 30% 95%;
    --muted-foreground: 210 5% 40%;
    --accent: 172 30% 90%;
    --accent-foreground: 210 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 5% 96%;
    --border: 210 30% 82%;
    --input: 210 30% 50%;
    --ring: 210 100% 49.4%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 50% 10%;
    --foreground: 210 5% 96%;
    --card: 210 50% 10%;
    --card-foreground: 210 5% 96%;
    --popover: 210 50% 5%;
    --popover-foreground: 210 5% 96%;
    --primary: 210 100% 49.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 172 30% 25%;
    --muted-foreground: 210 5% 65%;
    --accent: 172 30% 25%;
    --accent-foreground: 210 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 5% 96%;
    --border: 210 30% 50%;
    --input: 210 30% 50%;
    --ring: 210 100% 49.4%;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: theme('colors.gray.50')
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.gray.400');
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.300');
  }
}